.accordion_ex {
  .accordion-item {
    border-radius: 10px !important;
    max-width: 900px;
    margin: 0 auto;
  }
  .accordion-button:focus,
  .accordion-button:active {
    box-shadow: none !important;
  } 
  .accordion-body{
    p {
      color: #263238;
    }
  }
  .accordion-button {
    background-color: $lightv3;
    border-radius: 10px !important;
    transition: 0.2s all ease-in;
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      filter: brightness(0) invert(1);
    }
  }
  .accordion_text {
    font-size: clamp(0.8rem, 1.999vw, 1.25rem) !important;
    color: #fff;
  }
  .accordion-button:not(.collapsed) {
    transform: scaleX(1.02);
  }
}

.btn_pri {
  transition: 0.5s ease-in all;
  border: 1px $lightv3 solid;
  &:hover, &:focus {
    background-color: #fff;
    border: 1px solid $lightv3;
    color: $lightv3 !important;
  }
  &.btn_trans {
    border: 1px solid #fff;
    background-color: transparent;
    &:hover, &:focus {
      background-color: #fff;
      color: $lightv3;
    }
  }
  &.btn_opposite {
    &:hover, :focus {
      background-color: $lightv3 !important;
      color: #fff !important
    }
  }
}
.contactus-form-wrapper {
  background-color: #233e50 !important;
  border-radius: 30px;
  padding: clamp(1.1em, 5vw, 1.5em);
  input, textarea {
      background-color: $primary;
      border-radius: 10px;
      border:none;
      color: #dfdfdf !important;
    &::placeholder {
      color: #dfdfdf  !important; 
    }
  }
  .contactus-head {
    color: $light;
  }
  .form-control:focus,
  textarea {
      background-color: $primary !important;
      box-shadow: none !important;
  }
}   
.sec_head {
  font-size: clamp(1.125rem, 3vw, 2rem);
  font-weight: 800;
  text-align: center;
  color: $primary
}
.sec_headv2 {
  font-size: clamp(20px, 2.4vw, 24px)
}
.br_20 {
  border-radius: 20px;
}
.br_30 {
  border-radius: 30px;
}
// Slider Icons
.slick-dots li button:before {
  color: #fff !important;
}

.slick-dots {
  bottom: 16px;
  display: inline-block;
}
.slick-dots li {
  width: 28px;
  margin: 0;
}
.slick-dots li button:before {
  font-size: 14px;
  opacity: 1;
  content: "";
  background-color: #d3d3d300;
  border: 1px solid white;
  width: 10px;
  height: 10px;
  border-radius: 40px;
}
.slick-dots li.slick-active {
  margin-inline: 7px;
}
.slick-dots li.slick-active button:before {
  background-color: #fff;
  padding: 0rem 1.2rem;
  z-index: 9;
  opacity: 1;
  margin-right: 1rem;
  transition: 0.2s all ease-in-out;
  transform: translateX(-15px);
}
.focus_none:focus,
.focus_none:focus-visible,
.focus_none:focus-within {
  outline: none;
}
.fs_12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 12px;
}
.fs_12_resp {
  font-size: clamp(12px, 2.5vw, 1rem);
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-800 {
  font-weight: 800;
}
.card_v1 {
  max-width: 420px;
  &.v310 {
    max-width: 310px;
  }
  &.v520 {
    max-width: 520px;
  }
}
.h_head {
  font-size: 2rem;
}

.form_wrapper {
  // max-width: 700px;
  background: #ffffff;
  box-shadow: 0px 12px 30px -18px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 42px 42px 42px;
}
.form_wrapper.loan_form {
  max-width: 100%;
  margin: 12px 0 90px;
}
.form_wrapper.loan_form .smt_btn {
  margin-top: 2rem;
}
.form_wrapper .cus_label {
  display: block;
  color: #262f37;
  margin: 8px 0;
  font-weight: 700;
  font-size: 12px;
}
.form_wrapper .cus_feild {
  background: #fcfcfc;
  border: 1px solid #d2d6da;
  border-radius: 30px;
  padding: 15px 12px;
  width: 100%;
  color: #a3a6aa;
  font-size: 14px;
}
.form_wrapper .cus_feild::placeholder {
  color: #a3a6aa;
  font-size: 14px;
}
.form_wrapper .cus_feild:focus {
  outline: none;
  box-shadow: 0px 0px 2px 0px var(--primary);
}
.under-line{
  &:after {
    content: "";
    display: block;
    width: 40px;
    background-color: $lightv3;
    border-radius: 5px;
    height: 5px;
    margin-block: 1em;
  }
}
.border-hover {
  border: 1px solid $secondary;
  &:hover {
    background-color: $secondary;
    color: #fff !important;
  }
}