.t_primary {
  color: $primary;
}
.bg_primary {
  background-color: $primary;
}
.t_sec {
    color: $secondary !important;
}
.bg_sec {
    background-color: $secondary;
}
.t_light {
    color: $light;
}
.bg_light {
    background-color: $light;
}
.t_lightv1 {
    color: $lightv1;
}
.bg_lightv1 {
    background-color: $lightv1;
}
.t_lightv2 {
    color: $lightv2;
}
.bg_lightv2 {
    background-color: $lightv2;
}
.t_lightv3 {
    color: $lightv3;
}
.bg_lightv3 {
    background-color: $lightv3;
}
.t_dark {
    color: $dark;
}
.bg_dark {
    background-color: $dark;
}
.t_darkv1 {
    color: $darkv1;
}
.bg_darkv1 {
    background-color: $darkv1;
}
.t_darkv2 {
    color: $darkv2;
}
.bg_darkv2 {
    background-color: $darkv2;
}
.t_darkv3 {
    color: $darkv3;
}
.bg_darkv3 {
    background-color: $darkv3;
}