footer {
    a, p {
        font-size: 12px;
        word-wrap: anywhere;
        line-height: 2.7;
        color: #fff;
        text-decoration: none;
    }
    a:hover, svg:hover {
        color: $lightv3 !important;
    }
    p,
    .footer-sub-head {
        color: $light
    }
    .footer-head {
        font-size: 24px;
        font-weight: 600;
    }
    .footer-sub-head{
        font-size: 1.125rem;
        font-weight: 500;
        &:after {
            content: "";
            display: block;
            width: 25px;
            background-color: $lightv3;
            border-radius: 5px;
            height: 3px;
            margin-block: 1em;
        }
    }
    padding-block: 2rem;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: $primary;
}
.footer-strip {
    background-color: #163345;
    p {
        font-size: 12px;
    }
}