.header_strip {
    svg {
        width: 16px;
        height: 16px;
        color: white;
    }
    background-image: url('../images/banner/header-stripe.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1
}
header {
    .nav-btn {
        font-size: clamp(0.87rem, 1.2vw, 1rem) !important;
        &.mg-side {
            margin-left: clamp(1.1em, 1.7vw, 3em);
        }
    }
    .nav-item {
        &.nav_active {
            a {
                color: #4f8bff;
            }
            &:after {
                content: "";
                display: inherit;
                border-radius: 100vmax;
                width: 2ch;
                height: 2px;
                background-color: #4f8bff;
            }
        }
        a {
            text-decoration: none;
            color: $primary;
            font-size: clamp(0.95rem, 1.3vw, 1rem);
            &:hover {
                color: $lightv3
            }
        }       
        &:not(:last-child) {
            margin-right: 4em;
        }
    }
    .mobile-hamburger {
        cursor: pointer;
        span {
            display: block;
            background-color: $primary;
            border-radius: 5px;
            height: 4px;
            width: 27px;
        }
    }
}
.offcanvas {
    opacity: 0.91
}


