@media (max-width: 1400px) { 
  .nav-item { //HOMEPAGE
      &:not(:last-child) {
          margin-right: 3em !important;
      }
  }
}
@media (max-width: 1200px) { 
  .nav-item {
      &:not(:last-child) {
          margin-right: 1.7em !important;
      }
  }
}//
@media (min-width: 768px) { //CONTACT_US_PAGE
  .contact_info, .contact-us-page .sec1_hero{  
    &.bg_lightv2 {
      background-color: #fff;
    }
  }//
  .pos_abs_sm { //HOMEPAGE
      position: absolute;
      top: 60%;
    } 
    .sec_3 {
      margin-top: 15.5rem !important;
    }
    .partner-page {
      .sec_3 {
        padding-top: 9rem !important;
        margin-top: 0 !important;
      }
    }
    .sec_two {
      .banner_caps {
        transform: translatey(-50px) !important;
      }
    }
}//
@media (min-width: 992px) {
  .mobile-menu { //HOMEPAGE
      display: none;
  }
  .au_badge {
    top: -4% !important;
    left: -4%;
  }
}
@media (max-width: 992px) {
  .md_d_none {
    display: none;
  }//
  .aboutUs-bg { //ABOUT US PAGE
    width: 100%;
    height: 45%;
  }
  .about-us {
    .at {
        transform: translate(0);
        padding-block: 1em;
    }
    .p-001 {
      color: $light !important
    }
    .au_t {
        margin-left: 0;
        padding-inline: 1em;
        text-align: center;
        z-index: 9;
        &:first-child {
          color: white;
        }
    }
    h3 {
      margin-block: 1em;
      &.color_chg {
        color: $secondary
      }
    }
    .itel_ag {
      display: flex;
      justify-content: center;
    }
  }
  .xy {
    margin: 0 !important
  }
} //
