body {
    margin: 0;
    margin-top: 1em;
    max-width: 600px;
    margin-inline: auto;
    box-sizing: border-box;
}
* {
    font-family: 'Poppins', sans-serif;
}
.container-full {
    width: calc(100% - 1em);
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.color-input {
    border: none;
    width: 51px;
    height: 34px
}
.color-scheme-type {
    border: none;
    width: 65%;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.65em 2em 0.65em 0.3em;
}
.color-scheme-btn {
    border: none;
    border-radius: 3px;
    padding: 0.65em 1em;
    color: #ffffff;
    background-color: rgb(81, 84, 91);
    cursor: pointer;
}
.color-shades-all {
    margin-top: 1em;
    padding-inline: 0.4em;
}
.color-codes {
    padding-inline: 1em;
}
.color-shade {
    width: 20%;
    height: 400px;
    cursor: pointer;
    transition: ease 0.2s all;
}
.color-shade:hover {
    transform: scale(1.03);
}
.color-shade:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.color-shade:nth-child(5) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.color-scheme-code {
    width: 20%;
    text-align: center;
    padding-block: 1em;
    padding-inline: 0.5;
    font-size: clamp(0.6rem, 2vw, 1rem);
    margin-top: 0.25em;
}
@media (max-width: 56px) {
    .color-scheme-type {
        font-size: 0.65em;
        padding-block: 0.9em;
        
    }.color-scheme-btn {
        padding-inline: 0.47em;
        font-size: 12px;
    }
}
@media (max-width: 455px) {
    .material-icons {
        font-size: 14px;
    }
}

.copy {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: all 0.1s ease;
  }
  .copy:hover {
    transform: translateY(-4px);
    opacity: 1;
  }
  
  .tooltip {
    position: absolute;
    top: 20px;
    left: -15px;
    background: #373737;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    letter-spacing: 1px;
    opacity: 0;
  }
  .tooltip.appear {
    -webkit-animation: appear 1s ease;
            animation: appear 1s ease;
  }
  
  @-webkit-keyframes appear {
    0% {
      opacity: 0;
    }
    20% {
      transform: translateY(10px);
      opacity: 1;
    }
    80% {
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    20% {
      transform: translateY(10px);
      opacity: 1;
    }
    80% {
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}